header {
    padding: 5rem 0 3rem;
    position: relative;
    overflow: hidden;
    background: linear-gradient(var(--black), var(--black2));
}
header video {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-60%, -60%);
    min-width: 100%;
    min-height: 100%;
    opacity: 0.3;
}

@media only screen and (min-width: 390px) {
    header video {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-60%, -60%);
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.3;
    }
}
/*header {
    padding: 5rem 0 3rem;
    position: relative;
    overflow: hidden;
    background: linear-gradient(var(--black), var(--black2));
}

header video {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-60%, -60%);
    min-width: 100%;
    min-height: 100%;
    
}/*
